<!DOCTYPE html>
<html>
  <%- include('partials/heads/common-head.ejs') %>
  <body class="sign-up">
    <form method="post" action="/register/check-admin-key">
        <label> paste temporary key (sent to email)
            <input name="temp_key">
        </label>
        <input type="submit" value="submit">
    </form>
  </body>
</html>