<!DOCTYPE html>
<html>
  <%- include('partials/heads/dashboard-head.ejs') %>
  <body class="dashboard">
    <header>
      <a id="profile-btn" href="/user-profile">
        <img src="/<%= `api/users/photos/pfp` %>" class="profile-pic">
        <p>
          view profile
        </p>
      </a>
    </header>
    <nav>
      <ol id="chats-list">

      </ol>
      <a class="button" id="random-chat" href="/random-chat">random chat</a>
    </nav>
    <div class="dashboard" id="main-display">
      
    </div>
    <footer>

    </footer>
  </body>
</html>
