<!DOCTYPE html>
<html>
  <%- include('partials/heads/dashboard-head.ejs') %>
  <body class="dashboard">
    <header>
      <a id="profile-btn" href="/user-profile">
        <img src="/<%= `api/users/photos/pfp` %>" class="profile-pic">
        <p>
          view profile
        </p>
      </a>
      <a href="/view-direct-messages" class="view-direct-messages">
        <img src="/assets/inbox-alt-2-svgrepo-com-3.svg" class="direct-message-svg">
      </a>
      <a id="view-recent-friend-requests">
        <img src="/assets/add-friend-svgrepo-com.svg" class="direct-message-svg">
        <p><%= friend_requests_amount %></p>
      </a>
    </header>
    <nav id="dashboard-nav">
      <ol id="chats-list">

      </ol>
      <a class="button" id="random-chat" href="/random-chat">random chat</a>
    </nav>
    <div class="dashboard" id="main-display">
      
    </div>
    <footer>

    </footer>
  </body>
</html>
