<!DOCTYPE html>
<html>
  <%- include('partials/heads/common-head.ejs') %>
  <body class="dashboard">
    <header>

    </header>
    <nav>
      <ol id="chats-list">

      </ol>
      <a class="button" id="random-chat" href="/random-chat">random chat</a>
    </nav>
    <div class="dashboard" id="current-room">
      
    </div>
    <footer>

    </footer>
  </body>
</html>
