<!DOCTYPE html>
<html>
  <%- include('partials/heads/socket-head.ejs') %>
  <body class="demo">
    <header>

    </header>
    <nav>
      <a href="/random-chat" class="button">
          next call
      </a>
      <a href="/dashboard" class="button">
          back to dashboard
      </a>
    </nav>
    <main>
        <div id="message-history">

        </div>
        <form id="message-bar">
            <input placeholder="enter message" type="text" id="message-input">
            <input type="submit" value="send" id="send-message-btn" class="button">
        </form>
    </main>
    <footer>

    </footer>
  </body>
</html>