<!DOCTYPE html>
<html>
  <%- include('partials/heads/common-head.ejs') %>
  <body class="index">
    <header>

    </header>
    <main class="index">

      <nav class="buttons-box">

        <a class="button" href="/demo">
          try it out! 
        </a>
        <a class="button" href="/sign-up">
          sign up
        </a>

        <a class="button" href="/log-in">
          log in
        </a>

        <a class="button" href="/add-your-school">
          add your school (under construction)
        </a>
      </nav>

      <h1 class="title">
        Welcome to Groupy.
      </h1>
      <div id="index-info">
        <p>
          Groupy lets you form groups with new
          people in your school, or chat with your friends

          sign up to access the full range of features including:
        </p>
        <ol>
          <li> 1. meeting people in your school (or outside) </li>
          <li> 2. adding friends </li>
          <li> 3. creating groups </li>
        </ol>
      </div>
      
    </main>
    <footer>

    </footer>
  </body>
</html>
