<!DOCTYPE html>
<html>
  <%- include('partials/heads/common-head.ejs') %>
  <body class="index">
    <header>

    </header>
    <main>
      <h1>
        Welcome to hablando!
      </h1>
      <div>
        <p>
          hablando lets you form groups with new
          people, or chat with your friends
        </p>
      </div>
      <div class="buttons-box">

        <a class="button" href="/demo">
          try it out! 
        </a>

        <a class="button" href="/sign-up">
          sign up
        </a>

        <a class="button" href="/log-in">
          log in
        </a>

      </div>
    </main>
    <footer>

    </footer>
  </body>
</html>
