<!DOCTYPE html>
<html>
  <%- include('partials/heads/random-chat-head.ejs') %>
  <body class="random-chat">
    <header>

    </header>
    <main>
        <nav>
            <button id="add-friend"> add friend </button>
            <a href="/random-chat">
                next call
            </a>
            <a href="/dashboard">
                back to dashboard
            </a>
        </nav>
        <div id="message-history">

        </div>
        <form id="message-bar">
            <input placeholder="enter message" type="text" id="message-input">
            <input type="submit" value="send" id="send-message-btn" class="button">
        </form>
    </main>
    <footer>

    </footer>
  </body>
</html>
