<!DOCTYPE html>
<html>
  <%- include('partials/heads/random-chat-head.ejs') %>
  <body class="random-chat">
    <header>

    </header>
    <main>
        <nav>
            <a class="button" id="add-friend"> add friend </a>
            <a href="/random-chat" class="button" id="next-call">
                next call
            </a>
            <a href="/dashboard" class="button" id="return-to-dash">
                back to dashboard
            </a>
        </nav>
        <div id="message-alert-box">
            <% if (is_open) {  %>
                <h1>Waiting for user to join</h1>
              <% } %>
        </div>
        <div id="message-history">

        </div>
        <div id="typing-info">

        </div>
        <form id="message-bar">
            <input placeholder="enter message" type="text" id="message-input">
            <input type="submit" value="send" id="send-message-btn" class="button">
        </form>
    </main>
    <footer>

    </footer>
  </body>
</html>
