<!DOCTYPE html>
<html>
  <%- include('partials/heads/user-profile-head.ejs') %>
  <body class="user-profile">
    <nav class="user-profile">
        <a class="button" href="/dashboard">
            back to dashboard
        </a>
        <a class="button" id="photo-manager">
            view photos
        </a>
        <a class="button" id="friend-manager">
            view friends
        </a>
        <a class="button" id="friend-request-manager">
            view friend requests
        </a>
    </nav>
    <main class="user-profile" id="profile-info">

    </main>
  </body>
</html>
