/*
.loading {
	display: none;
}

.loaded {
	display: inline;
}

.load-div {
	border: 16px solid #f3f3f3; 
	border-top: 16px solid #3498db; 
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
  }
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
*/
.button {
	background-color:rgb(51, 173, 87);
	color: #000000;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid rgb(0, 0, 0);
}

.button:hover {
	background-color: rgb(51, 167, 173);
	color: #000000;
}

#profile-btn p {
	color: #000000;
}

main.user-profile #photo-box {
	background-color:lightcyan;
	border-radius: 10px;
	padding: 20px; 
}

#drag-box-photo {
	align-self: center;
	background-color: lightcyan;
	border-radius: 10px;
	padding: 10px;
	width: min(50%, 700px);
	height: 300px;
}
.current-group-selected {
	background-color: #a0d9ef;
}


/*
if prefers dark mode
*/

@media (prefers-color-scheme: dark) {
	.button {
		color: white;
	}

	body {
		background-color: rgb(0, 4, 21);
		color: #ffffff;
	}
	#profile-btn p {
		color: #ffffff;
	}

	main.user-profile #photo-box {
		background-color:#c5ffdddd;
		
	}
	#drag-box-photo {
		background-color: #59b0d5c1;
	}
	.current-group-selected {
		background-color: #010057;

	}
	
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

button {
	border: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.button {
	margin: 15px;
}

/*
style index
*/
main.index {
	display: grid;
	grid-template-rows: fit-content 1fr 4fr;

}

main.index h1{
	display: flex;
	justify-content: center;
}

#index-info {
	display: flex;
	justify-content: center;
}
#index-info p {
	max-width: 800px;
}

/*
style login
*/

header.log-in {
	display: flex;
	flex-direction: column;
}

body.log-in {
	display: grid;
	grid-template-rows: auto 1fr auto;
}

main.log-in {
	padding: 20px;
}

form#log-in {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1000px;
}
form#log-in * {
	padding: 10px;
}


/*
style sign up page
*/

header.sign-up {
    display: flex;
    flex-direction: column;
}

body.sign-up {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main.sign-up {
    padding: 20px;
}

form#sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
}
form#sign-up * {
    padding: 10px;
}



/*
style chat
*/
#message-history {
	display: flex;
	flex-direction: column-reverse;
	/*height: minmax(300px, 60vh);*/ 
	height: 60vh;
	max-height: 300px;
	overflow: scroll;
}

.message.client {
	align-self: end;
	height: auto;
	max-width: 300px;
	border: 1px solid #CCC;
	background-color: #ffffff;
	border: 1px solid #000000;
	padding: 6px 8px;
	color: #000000;
}

.message.other {
	
	height: auto;
	width: fit-content;
	max-width: 300px;
	border: 1px solid #CCC;
	background-color: #ffffff;
	border: 1px solid #000000;
	padding: 6px 8px;
	color: #000000;
}


.message-user-info {
	display: flex;
	flex-direction: column;
}

body.random-chat main{
	padding: 5%;
}

body.demo main{
	padding: 5%;
}

body.demo main{
	display: flex;
	flex-direction: column;
}

body.random-chat main{
	display: flex;
	flex-direction: column;

}

.message-pfp {
	width: 25px;
	height: 25px;
	padding: 5px;
	border-radius: 50%;
}

#message-bar {
	justify-self: center;
	width: 80%;
	padding: 30px;
	display: grid;
	grid-template-columns: 1fr auto;
}

#message-input {
	height: 40px;
	align-self: center;
	border: 1px solid #000000;
	font-size: 1.2rem;
	padding-left: 5px;
}

#message-alert-box {
	display: flex;
	justify-content: center;
	min-height: 100px;
}

.message {
	display: flex;
	flex-direction: row;
}
.message .message-text {
	align-self: center;
}

/*
    DISPLAY DASHBOARD
*/

img.direct-message-svg {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	padding: 10px;
}
a.view-direct-messages {
	justify-self: flex-end;
	margin-right: 30px;
}

body.dashboard nav {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

body.dashboard nav ul {
	max-height: auto;
	overflow: scroll;
}

body.dashboard {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	gap: 30px;
}

body.dashboard header{
	grid-column-start: 1;
	grid-column-end: 3;
	display: flex;
	flex-flow:row;
	justify-content: space-between;
} 

.profile-pic{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	padding: 10px;
}

#profile-btn {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100px;
}


/*
	DISPLAY USER PROFILE INFO
*/
body.user-profile {
	display: grid;
	grid-template-columns: auto 1fr;
}
nav.user-profile {
	max-width: 250px;
	display: flex;
	flex-direction: column;
}
main.user-profile.friend-requests {
	display: flex;
	flex-flow: column;
	align-items: center;
}

main.user-profile {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 25px;
	gap: 10px;
};

#drag-box-photo form {
	display: flex;
	flex-direction: column;
}

main.user-profile #photo-box{
	display: grid;
	grid-template-columns: repeat(auto-fit, 225px);
	gap: 10px;
}

#photo-box .user-profile-photo {
	width: 225px;
	height: 300px;
	border-radius: 10px;
}

main.user-profile.friends {
	display: flex;
	flex-flow: column;
	align-items: center;
}

#drag-box-photo.highlight {
	background-color: rgb(253, 253, 171);
}
.highlight {
	background-color: rgb(253, 253, 171);
}

main.user-profile ul {
	gap: 10px;
}

.friend-request-list {
	display: flex;
	flex-direction: column;
	width: 80%;
	gap: 10px;
}


.friend-list {
	display: flex;
	flex-direction: column;
	width: 80%;
	gap: 10px;
}

.profile-friend-request {
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	border-bottom: 1px solid rgb(51, 173, 87);
	align-items: center;
}
.profile-friend-request p {
	display: flex;
	align-items: center;
}
.profile-friend-request .button {
	justify-self: flex-end;
	border: 1px solid rgb(0, 0, 0);
}

.profile-friend-request:hover {
	border-bottom: 1px solid rgb(51, 167, 173);
	background-color: rgb(51, 173, 87);
}

.profile-friend-request .button.reject-friend-request:hover {
	border: 1px solid rgb(0, 0, 0);
	background-color: rgb(211, 72, 72);
}

.profile-pic-list {
	height: 30px;
	width: 30px;
	padding: 5px;
	border-radius: 50%;
}

li a.friend-profile {
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	border-bottom: 1px solid rgb(51, 173, 87);
	align-items: center;
}
li a.friend-profile:hover {
	border-bottom: 1px solid rgb(51, 167, 173);
	background-color: rgb(51, 173, 87);
}

li a.friend-profile .button.remove-friend:hover {
	border: 1px solid rgb(0, 0, 0);
	background-color: rgb(211, 72, 72);
}

/* DISPLAY USER PROFILE INFO */



img.user-info-profile-pic {
	height: 400px;
	width: 400px;
	border-radius: 50%;
};

.user-p-info {
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-items: center;
	align-content: center;
}

#u-info-pfp {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#user-info-photo-box {
	background-color:lightcyan;
	border-radius: 10px;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, 225px);
	gap: 10px;
}

img.user-info-photo {
	height: 300px;
	width: 225px;
}

#user-bio p {

}

#user-bio {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#user-info-main {
	gap: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#user-info-main sect {
	max-width: 1000px;
	align-self: center;
}

/* GROUP MESSAGE */ 

.group-img {
	height: 35px;
	width: 35px;
	padding: 5px;
}


#chats-list {
	width: 20vw;
	max-width: 250px;
}

.group-chat {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	padding: 5px;
	border-radius: 5px;
}

.group-chat small {
	grid-row: 2 / 3;
	grid-column: 1 / 3;
	font-size: calc(4pt + 0.3vw);
}
.group-chat p {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	font-size: calc(4pt + 0.45vw);
}


/*
DIRECT MESSAGES CSS
*/
img.view-direct-message-svg {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	padding: 10px;
}